<!doctype html>
<html>
  <head>
    <title><%=shopName%> Add Book</title>
    <link rel="stylesheet"  type="text/css" href="/main.css" />
  </head>
  <body>
    <h1><%=shopName%> Add Book</h1>
    <form action="/bookadded" method="POST">
      <p>What book do you want?</p>
        <p>Book name: <input id="name" type="text" name="name" placeholder="Name"></p>
        <p>Price: <input id="price" type="number" name="price" placeholder="Price"></p>
        <input type="submit" value="Add book" >
    
    </form>
  </body>
</html>